.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  box-sizing: border-box;
}

.header {
  display: flex;
  align-items: center;
  padding: 16px 16px;
  font-size: 1.2rem;
  font-weight: bold;
  position: sticky;
  top: 0;
  background: #ff8a00;
  z-index: 10;
  border-bottom: 1px solid #ddd;
  color: white;
}

.toBack {
  cursor: pointer;
  margin-right: 12px;
  display: flex;
  align-items: center;

}