.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  box-sizing: border-box;
}

.header {
  display: flex;
  align-items: center;
  padding: 16px 16px;
  font-size: 1.2rem;
  font-weight: bold;
  position: sticky;
  top: 0;
  background: #ff8a00;
  z-index: 10;
  border-bottom: 1px solid #ddd;
  color: white;
}

.toBack {
  cursor: pointer;
  margin-right: 12px;
  display: flex;
  align-items: center;

}

.body{
  padding: 20px;
}

.form{
  display: flex;
  flex-direction: column;
  gap: 10px
}

.inputGroup {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: start;
}

input {
  width: 100%;
  padding: 12px 40px 12px 12px;
  border-radius: 10px;
  border: 1.5px solid #ddd;
  outline: none;
  background: #fafafa;
  color: #333;
  font-size: 0.7rem;
  transition: all 0.3s ease;
}

input:focus {
  border-color: #ff6600;
  background: #fff;
  box-shadow: 0 0 10px rgba(255, 102, 0, 0.2);
}

label{
  color:#333;
  font-size: 0.8em;
}

.errorMessage{
  margin-top: 6px;
  color: #a62f2f;
  font-size: 0.8em;
}


.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background: rgb(227, 227, 227);
    padding: 15px 0 10px 0;
    box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.05);
    z-index: 20;
    display: flex;
    padding: 20px;
}


.checkoutButton {
    width: 100%;
    padding: 16px;
    background: #ff6600;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.radioLabel {
  display: flex;
  align-items: center;
  gap: 10px;
  background: #fafafa;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 12px;
  font-size: 0.9rem;
  cursor: pointer;
  transition: all 0.2s ease;
  margin-bottom: 8px;
}

.radioLabel:hover {
  background: #fff4e6;
  border-color: #ff8a00;
}

input[type="radio"] {
  accent-color: #ff6600;
  width: 18px;
  height: 18px;
}



