.header {
  width: 100%;
  height: 10vh;
  background-color: #ff8a00;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 25px;
  color: white;
  font-size: 18px;
  font-weight: bold;
  position: relative;
}

/* Ícone menu */
.menuIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

/* Centraliza a logo perfeitamente */
.logoContainer {
  /* position: absolute; */
  /* left: 50%; */
  /* transform: translateX(-50%); */
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
}

/* Imagem da logo */
.logo {
  height: 60px;
  width: auto;
  object-fit: contain;
  filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.25));
  transition: transform 0.3s ease;
}

.logo:hover {
  transform: scale(1.05);
}

/* Carrinho */
.cartContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

/* Número do carrinho */
.cartNumber {
  position: absolute;
  top: -6px;
  right: -6px;
  background: black;
  border: 1px solid white;
  color: white;
  font-size: 12px;
  font-weight: bold;
  height: 18px;
  width: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
