.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  background: rgb(250, 250, 250);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0 20px;
  box-sizing: border-box;
}

.containerBox {
  margin-top: 20px;
  width: 100%;
}

.inputGroup {
  display: flex;
  justify-content: center;
  align-items: stretch; /* garante que os filhos ocupem mesma altura */
   margin: 0 auto 20px auto;
  width: 100%;
  max-width: 800px;
}

.input {
  flex: 1;
  height: 40px;
  padding: 0 12px;
  border-radius: 10px 0 0 10px;
  border: 1.5px solid #ddd;
  outline: none;
  background: #fafafa;
  font-size: 0.95rem;
  box-sizing: border-box;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  border-radius: 0 10px 10px 0;
  background: #ff6600;
  border: 1.5px solid #ddd;
  border-left: none;
  cursor: pointer;
  box-sizing: border-box;
}

.button svg {
  height: 60%;
  width: 60%;
}


.button:hover {
  filter: brightness(1.1);
}

/* Cards */
.containerItens {
  display: grid;
  grid-template-columns: repeat(3, minmax(100px, 1fr));
  gap: 5px;
  width: 100%;
}

.containerItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: bold;
  border-radius: 15px;
  height: 100px;
  color: white;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.2s, filter 0.2s;
  position: relative;
  overflow: hidden;
  text-align: center;
}

.containerItem::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.15);
  border-radius: 15px;
  z-index: 0;
}

.itemText {
  position: relative;
  z-index: 1;
}

.containerItem:hover {
  transform: scale(1.03);
  filter: brightness(1.1);
}

/* Responsividade */
@media (max-width: 768px) {
  .inputGroup {
    max-width: 100%;
  }
  .input {
    font-size: 0.9rem;
    max-width: 260px;
  }
  .button {
    width: 45px;
  }
  .containerItem {
    height: 70px;
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  .containerItem {
    height: 60px;
    font-size: 12px;
  }
}
