.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  background: rgb(250, 250, 250);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  padding: 0 20px;
  box-sizing: border-box;
}

.containerBox {
  height: 90vh;
  width: 100%;
  padding: 0 20px;
}

.containerItens {
  display: grid;
  grid-template-columns: repeat(6, 1fr ) ;
  gap: 20px; /* Mais espaçamento entre os itens */
  width: 100%;
}

.containerItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 40px 20px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 15px;
  height: 100px;
  color: white;
  background: #2b26b6;
  box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: transform 0.2s;
  text-align: center;
}

.containerItem:hover {
  transform: scale(1.01);
}

/* Telas médias */
@media (max-width: 1024px) {
  .containerItens {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }

  .containerItem {
    padding: 30px 15px;
    height: 90px;
    font-size: 18px;
  }
}

/* Telas pequenas */
@media (max-width: 768px) {
  .containerItens {
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  }

  .containerItem {
    padding: 25px 10px;
    height: 80px;
    font-size: 16px;
  }
}

/* Celulares muito pequenos */
@media (max-width: 480px) {
  .containerItens {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }

  .containerItem {
    padding: 20px 8px;
    height: 70px;
    font-size: 14px;
  }
}
